{{#.}}
	{{#each menu}}
		<li id={{id}} value="{{value}}" class="item-content list-panel-all close-panel item-link">
			<div class="item-media">
				<i class="{{icon}}">
					{{#if unSync}}<span class="badge" style="background-color:orange">{{unSync}}</span>{{/if}}
				</i></div>
			<div class="item-inner">
				<div class="item-title">{{text}}</div>
			</div>
		</li>
	{{/each}}
{{/.}}