{{#.}}
	{{#each list}}
		<li data-id="{{id}}" class="contact-item">
			<a href="#" class="item-link">
				<div class="item-content">
					<div class="item-media"><img src="http://nuqlis.blob.core.windows.net/pic/{{CID}}" width="44" onError="this.onerror = null; this.src = 'img/unknown.png';"></div>
					<div class="item-inner">
						<div class="item-title-row">
							<div class="item-title">{{firstName}} {{lastName}}</div>
						</div>
						<div class="item-subtitle">{{company}}</div>
					</div>
				</div>
			</a>
		</li>
	{{/each}}
{{/.}}