<div class="popup tablet-fullscreen" id="formModal">
  <div class="view view-popup navbar-fixed">
    <div class="navbar">
      <div class="navbar-inner">
        <div class="left">
          <a href="#" class="back link close-Form">
            <i class="icon icon-back"></i>กิจวัตรประจำวัน
          </a>
        </div>
        <div class="right contact-save-link">
          <a href="#" class="link">บันทึก</a>
        </div>
      </div>
    </div>
    <div class="page">
      <div class="page-content contact-edit-form">
        <div class="contact-header">
          <div class="item-photo">
            <img src="img/cats/{{model.picId}}.png" />
          </div>
          <div class="header-text">
            <h3>{{model.firstName}} {{model.lastName}}</h3>
            <p>{{model.company}}</p>
          </div>
        </div>

        {{#unless data}}
        <h3>ยังไม่ได้เลือกแบบฟอร์ม หรือแบบฟอร์มใช้งานไม่ได้</h3>        
        {{/unless}}

        {{#each data}}
        <div class="content-block-title">{{sectionName}}</div>
        {{#each data}}
        <div class="content-block-title">{{qNo}}. {{qText}}</div>
        <div class="contact-other list-block">
          <ul>
            {{#each answer}}
            <li>
              <label class="label-radio item-content">
                <input data-type="QA" type="radio" name="{{../qId}}" value="{{aValue}}" {{#if checked}}checked{{/if}}/>
                <div class="item-media">
                  <i class="icon icon-form-radio"></i>
                </div>
                <div class="item-inner">
                  <div class="item-title">{{aValue}} {{aText}}</div>
                </div>
              </label>
            </li>
            {{/each}}
          </ul>
        </div>
        {{/each}}

        {{/each}}
      </div>
    </div>
  </div>
</div>